footer {
  width: 100%;
  height: auto;

  .topArea {
    width: 100%;
    min-width: 1110px;
    height: 109px;
    background: $footerTopBG;
    padding: 38px 160px;
    box-sizing: border-box;
    display: flex;

    .paltform_Logo {
      width: 172px;
      height: 46px;

      &.BNG {
        background-position-x: 0%;
      }

      &.PLS {
        background-position-x: 25%;
      }

      &.PT {
        background-position-x: 50%;
      }

      &.SP {
        background-position-x: 75%;
      }

      &.CQ9 {
        background-position-x: 100%;
      }
    }
  }

  .bottomArea {
    width: 100%;
    height: auto;
    background: $footerBottomBG;

    .center {
      width: 1500px;
      height: auto;
      margin: 0 auto;

      ul {
        width: 100%;
        height: auto;
        padding: 70px 0;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;

        li {
          width: auto;
          height: 263px;

          p {
            color: $mainfont;
            font-size: 22px;
            position: relative;

            &.title {
              font-weight: bold;
              margin-bottom: 43px;
            }

            &.page {
              margin-bottom: 22px;
              position: relative;
              cursor: pointer;

              &:hover,
              &:active,
              &.active {
                font-weight: bold;

                span {

                  &::after {
                    width: 100%;
                  }
                }
              }

              span {
                display: inline-block;
                position: relative;

                &::after {
                  content: "";
                  width: 0%;
                  height: 3px;
                  background-color: $subfont;
                  position: absolute;
                  left: 0;
                  bottom: -10px;
                  transition: all 0.2s ease-in-out;
                }
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          button {
            @include footer_Btn;
            margin-bottom: 22px;

            &.cooperation {
              background: $fBtn1;
            }

            &.cs24hr {
              background: $fBtn2;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
