html {
    
  body {
    width: 100%;
    height: 100%;
    position: relative;

    @import "./header";
    @import "./marquee";
    @import "./mainWrap";
    @import "./aside";
    @import "./footer";

    main {
      width: 100%;
      height: auto;
      padding-top: 106px;
    }
  }
}
